body {
  /*font-family: 'Varela Round', sans-serif;*/
  font-size: 14px;
  /*background-image: url("../images/landing-bg.jpg"); //add "" if you want
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;*/
  background-image: linear-gradient(to bottom, #654a86, #534292);
}

p {
  margin-bottom: 0px;
}

.form-control:focus {
  border-color: #79589f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #79589f;
}

.header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid #d9dadc;
}

.header-title {
  margin: auto;
}

.header h1 {
  display: inline-block;
  line-height: 48px;
}

.header a {
  display: inline-block;
}

.navbar-brand {
  padding-left: 0;
  padding-right: 5px;
}

.auth-title {
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
}

.passres-heading p {
  font-size: 12px;
  line-height: 1;
  text-align: left;
  color: darkgray;
}

.auth-login {
  background-color: white;
  width: 30%;
  height: 400px;
  min-width: 100px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #bfbfbf;
  border-radius: 15px;
}

.auth-signup {
  width: 30%;
  height: 400px;
  min-width: 100px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #bfbfbf;
  border-radius: 15px;
}

.auth-passres {
  width: 30%;
  height: 400px;
  min-width: 100px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #bfbfbf;
  border-radius: 15px;
}

.passres-form {
  margin-top: 30px;
}

.social-button {
  margin-top: 20px;
  height: 35px;
}

.button-facebook {
  background-color: #3b5998;
  height: 35px;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.button-facebook:hover {
  background-color: #4267b2;
}

.btn {
  letter-spacing: 1px;
}

.divider {
  background-color: #d9dadc;
  height: 1px;
  line-height: 1px;
  margin: 15px 0px;
  text-align: center;
  position: relative;
}

.divider-title {
  background: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 20px;
  text-transform: uppercase;
}

.btn a {
  color: white;
  text-decoration: none;
}

.checkbox-remembeme {
  text-align: left;
}

.pull-right {
  margin-right: 15px;
}

.submit {
  height: 35px;
}

.button-signin {
  /*     background-color: #2ebd59; */
  background-image: linear-gradient(to left, #79589f, #623299);
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.button-signin:hover {
  background-image: linear-gradient(to left, #8065a0, #623299);
  color: white;
}

.button-signup {
  background-color: #2ebd59;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.button-signup:hover {
  background-color: #36d867;
}

.button-passres {
  background-color: #2ebd59;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.button-passres:hover {
  background-color: #36d867;
}

.input-password {
  position: relative;
}

.input-password span {
  position: absolute;
  top: 10px;
  right: 10px;
}

#eye-icon {
  color: #653a96;
}

.login-form-buttons {
  display: flex;
}

.signup-section,
.login-section {
  line-height: 25px;
  margin: 30px;
}

.signup-section a,
.login-section a {
  color: #79589f;
  text-decoration: none;
  transition: 0.3s;
}

.signup-section a:hover,
.login-section a:hover {
  color: #c899ff;
}

.disclaimer {
  margin: auto;
  margin-top: 0px;
  font-size: 10px;
  color: #b6b6b6;
}

.disclaimer p a {
  color: #79589f;
  text-decoration: none;
  transition: 0.3s;
}

.disclaimer a:hover {
  color: #c899ff;
}

/* custom checkbox */

/*Responsive style for tablets */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .auth-login {
    width: 40%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 612px) {
  .auth-login,
  .auth-signup,
  .auth-passres {
    width: 50%;
  }
}

@media only screen and (max-width: 612px) and (min-width: 500px) {
  .auth-login,
  .auth-signup,
  .auth-passres {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .auth-login,
  .auth-signup,
  .auth-passres {
    width: 90%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 300px) {
  body {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 300px) {
  .signup-section {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* hides the browser default checkbox */
.checkbox-wrapper input {
  display: none;
}

/* create the new custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 18px;
  width: 18px;
  border: 2px solid #79589f;
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

/* on mouse hover add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #d6d6d6;
  transition: 0.3s;
}

/* when checkbox is checked add purple background color */
/* .checkbox-wrapper input:checked ~ .checkmark {
  background-color: #80669e;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: 0.3s;
}

/* show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
  transition: 0.3s;
}

/* style the checkmark indicator */
.checkbox-wrapper .checkmark:after {
  transition: 0.3s;
  width: 6px;
  height: 12px;
  top: 0px;
  left: 4px;
  border: solid #79589f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
